<head>
  <title>?!?! (0.o) ?!?!?</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body style="background:url('http://orig07.deviantart.net/c3cd/f/2012/330/2/e/matrix_binary_code_wallpaper_by_treshku_by_treshkudrago-d5mb9o0.png')">
  <div class="main">
    <img src="http://blogs-images.forbes.com/parmyolson/files/2012/08/anonymous_logo.png" style="width:200px; height:200px;"/>
    <h1>
      Holy Moses, anonymous visitor!
    </h1>
    <h2>
      U haz found teh secret loophole! U R uhhhmayzing H@ck3r! Hear iz 1 billion goldz!!!!
    </h2>
    <a class="button" href="/person/@n0NyMoU$">
      <div class="button">
        Collect 1,000,000,000 Au
      </div>
    </a>
  </div>
</body>
