<head>
  <title>Welcome to the Sinatra Counter!</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
  <div class="main">
    <h1>Hello, Stranger!</h1>
    <h2>Identify yourself so we can start keeping track of how often you visit this glorious place.</h2>
    <form action="/" method="POST">
      <label for="visitor-name">Nombre, por favor:</label>
      <br />
      <input type="text" id="visitor-name" name="name" />
      <br /><br />
      <input type="submit" class="button" value="Let's do it!" />
    </form>
  </div>
</body>
