<head>
  <title>Information</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
  <div class="main">
    <h1>Information</h1>
    <h2>Here's some basic information that may be helpful to you in exploring this app:</h2>
    <ul>
      <li> We know who you are now </li>
      <li> ...unless you click the 'Forget Me' button </li>
      <li> Which is sad, but we understand. </li>
      <li> Click 'Moar' (or refresh the page) to rack up your visit count
      <li> You'll recieve some feedback based on how many times you have visited
      <li> If you're a smart hacker, you already know that you can play with the URI... </li>
      <li> We thought of this. </li>
      <li> ...we still know who you are :)</li>
      <li> Unless you were to somehow make yourself anonymous... O.o </li>
      <li> There's a pretty nifty prize for doing that </li>
      <li> That's about it. </li>
      <li> Oh, and you get a gold star at the end </li>
      <li> You can stop clicking after that. </li>
    </ul>
    <a class="button" href="/person/<%= name %>" >
      <div class="button">
        <- Back
      </div>
    </a>
  </div>
</body>
